/* Homepage **/

.home-section {
	@include smart-margin($divMargin);
	
}

.home-widgets {	
	.widget-title {
		@include widget-title($widgetTitleS);
		margin-bottom: 12px;
	}	
}

.home-slider {
	border-bottom: 1px solid $bodyBorderC;
	.inner {
		padding-bottom: 60px;
		position: relative;
		overflow: hidden;
	}
	margin-bottom: 0;
}

.home-callout {
	margin-top: 30px;
	margin-bottom: 60px;
	
	p {
		@include smart-margin(10px);
		color: #555;
	}
	
	p:nth-of-type(1) {
		strong {
			color: $blueBgC;
		}
	}
	
	p:nth-of-type(2) {
		strong {
			color: $greenBgC;
		}
	}
	
	p:nth-of-type(3) {
		strong {
			color: $orangeBgC;
		}
	}
}

.action-call {
	border: 1px solid $bodyLinkC;
	color: $bodyLinkC;
	text-align: center;
	
	a {
		display: block;
	}
	
	.call-icon {		
		margin: 15px 0;
		height: 55px;
		.dashicons {
			width: 54px;
			line-height: 54px;
			font-size: 54px;
		}
	}
	
	.call-label {
		text-transform: uppercase;
		margin: 15px 0;
	}
}



.home-loop {
	
	li {
		@include smart-margin(20px);
	}
	h4 {
		@include linked-title($bodyTextS);
	}
	
	.hi-meta {
		font-size: $smallerTextS;
		color: $metaTextC;
	}
}

.home-event {
	.widget-title {
		color: $bodyLinkC;
	}
	
	.h-item {
		background: $bodyLinkC;
		color: #fff;
		a {
			color: #fff;
		}
		padding: 15px 23px;
	}
	
	.hi-meta {
		margin:  4px 0 24px;
		time {
			display: inline-block;
			padding: 2px 6px;			
			background: #fff;
			color: $bodyLinkC;
		}
		font-size: $smallerTextS;
	}
	
	.hi-summary {
		font-size: $smallerTextS;
	}
}

.home-partners {
	
	.h-slider {
		width: 100%;
		position: relative;		
	}
	
	.h-slideshow {
		overflow: hidden;
		width: 222px;
		height: 300px;
	}
	
	.h-slide {
		float: left;
		width: 100%;
		width: 222px;
	}	
	
	.logo-wrap {
		/*width: 220px;*/
		width: 100%;
	}
	.h-next,
	.h-prev {
		border: 6px solid transparent;
		border-left-color: $bodyLinkC;
		width: 0;
		height: 0;
		position: absolute;
		right: 0;
		top: -20px;
	}
	
	.h-prev {
		border-left-color: transparent;
		border-right-color: $bodyLinkC;
		right: 0;
		right: 18px;
		top: -20px;
	}
}


/** counter **/
@mixin counter-round($color){
	
	background: rgba(255,255,255, 0.95);
	@include border-radius(50%);
	width: 176px;
	height: 176px;
	
	ul {
		font-size: 18px;
		line-height: 1.1;
		text-align: center;
		color: $color;
		li:first-child {
			font-size: 48px;
			padding-top: 30px;
		}
	}
}



.counter-wrap {
	position: absolute;
	width: 100%;
	height: 230px;
	left: 0;
	bottom: -20px;
	z-index: 590;
	
	.counters-list {
		@include clearfix;
	}
	
	.counter {		
		float:left;
		margin-left: 54px;
	}
	
	.counter:nth-of-type(1){
		@include  counter-round($blueBgC);
		margin-top: 52px;
	}
	.counter:nth-of-type(2){
		@include  counter-round($orangeBgC);
	}
	.counter:nth-of-type(3){
		@include  counter-round($greenBgC);
		margin-top: 52px;
	}
	.counter:nth-of-type(4){
		@include  counter-round($bodyLinkC);
	}
}