/* menu elements */
@mixin colored_menu_link {
	color: #fff;
	&:hover {
		border-bottom: 1px dotted;
	}
}

@mixin colored_menu_list {
	margin: 7px 0;
	text-transform: none;
}

@mixin current_link {	
	a {
		border-bottom: 1px solid;
	}
}


/* About panel */
#side-navigation {
	
	background: $bodyLinkC;
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	color: #fff;
	z-index: 900;
	
	.inner {
		padding-top: 15px;		
	}
	
	#side-panel-trigger {
		background: $bodyLinkC;
		color: #fff;
		width: 30px;
		span {
			display: inline-block;			
			line-height: 24px;
			height: 24px;
			width: 26px;
			margin: 4px 0 4px 4px;
			text-align: center;
			cursor: pointer;
			&:hover {
				background: rgba(255,255,255,0.75);
				color: $bodyLinkC;
			}
		}
		.close {
			display: none;
		}	
		position: absolute;
		top: 15px;
		left: -30px;		
	}
		
	.pmenu {
		padding: 0 30px;		
	}
	
	.menu-item-has-children > a {
		text-transform: uppercase;
		line-height: 30px;
		font-size: 14px;
		display: inline-block;
		width: 85px;
		cursor: default;
		color: #fff;
	}
	
	.sub-menu {
		display: none;
		padding-top: $pMargin;
		width: 180px;
		
		li {
			@include colored_menu_list;
		}
		a {
			@include colored_menu_link;
		}
	}	
}


#side-navigation.wide {
	
	.sub-menu {
		display: block;
	}
	
	#side-panel-trigger {
		.open {
			display: none;
		}
		.close {
			display: inline-block;
		}
	}	
}

@media all and (max-width: 1280px) {
	#side-navigation{
		.menu-item-has-children > a {
			display: none;
		}
	}
	
	#side-navigation.wide {
		.menu-item-has-children > a {
			display: block;
		}
	}
}


.admin-bar #side-navigation {
	padding-top: 32px;
}


/* inpage side menu */
@mixin audience_menu($color) {
	
	.menu-item-has-children > a {
		display: block;
		border: 1px solid $bodyBorderC;
		border-top: 4px solid $color;
		padding: 7px 0 7px 0px;
		text-align: center;
		text-transform: uppercase;
		font-size: $smallerTextS;
		color: $color;
		margin-bottom: 4px;
		cursor: default;
	}
	
	.sub-menu {
		background: $color;
		padding: 13px 0 20px 20px;
		min-height: 345px;
		li {
			@include colored_menu_list;
		}
		a {
			@include colored_menu_link;
		}
		
		li[class *= "current-menu"] {
			@include current_link;
		}
	}	
}



#audience-menu.audience-all {
	@include audience_menu($bodyLinkC);
}

#audience-menu.audience-business {
	@include audience_menu($greenBgC);
}

#audience-menu.audience-people {
	@include audience_menu($blueBgC);
}

#audience-menu.audience-ngo {
	@include audience_menu($orangeBgC);
}


/* inpage nav */
.page-nav {
	border-top: 1px solid $bodyBorderC;
	border-bottom: 4px double $bodyBorderC;
	margin-bottom: $divMargin;
	min-height: 7px;
}

.inpage-menu {
	width: auto;
	float: right;
	
	li {
		float: left;
		margin-right: 7px;
		padding-top: 5px;
	}
	
	a {
		display: block;
		text-transform: uppercase;
		font-size: $smallerTextS;
		padding: 8px;
		margin-bottom: -4px;
	}
	
	li[class *= "current-menu"] {		
		a {
			background: $bodyLinkC;
			color: #fff;
		}
	}
}


/* bottom menu */
@mixin global-menu($color) {	
			
	.sub-menu {
		margin-top: 4px;
		background: $color;
		padding: 20px;
		height: 300px;
		li {
			@include colored_menu_list;
		}
		a {
			@include colored_menu_link;
		}
	}
	
	& > a {
		display: block;
		background: $color;
		padding: 5px 20px;
		color: #fff;
		font-size: 18px;
		text-transform: uppercase;
		font-weight: bold;
		span {
			display: block;
			padding-top: 3px;
			font-size: $smallerTextS;
			text-transform: lowercase;
			font-weight: normal;
		}
	}
}

#global-menu {
	border: 1px solid $bodyBorderC;
	border-bottom: none;
	background: #fff;
	padding-top: 13px;
	@include border-radius(3px);
	-webkit-box-shadow:  1px 1px 3px 1px rgba(200, 200, 200, 0.7);
	box-shadow:  1px 1px 3px 1px rgba(200, 200, 200, 0.7);
	
	.menu-item-has-children.audience-people {
		@include global-menu($blueBgC);
	}
	
	.menu-item-has-children.audience-business {
		@include global-menu($greenBgC);
	}
	
	.menu-item-has-children.audience-ngo {
		@include global-menu($orangeBgC);
	}
}

#bottom-navigation {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: -300px;
	.close {
		display:none;
	}
	z-index: 950;
}

#bottom-navigation.wide {
	.close {
		display: block;
		text-transfont: lowercase;
		font-size: $smalestTextS;
		border: 1px solid $bodyBorderC;
		background: $bodyBorderC;
		padding: 4px 12px;
		position: absolute;
		top: 22px;
		right: -63px;
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		cursor: pointer;
		&:hover {
			background: #eee;
		}
	}
}

/* social */
#social-menu {
	li {
		float: right;
		margin-left: 5px;
		a {
			display: block;
			width: 32px;
			height: 32px;			
			color: #fff;
			background: $bodyBorderC;
			border: none;
			&:hover {
				border: none;
				background: $bodyLinkHoverC;
			}			
		}
		
		.dashicons {
			margin-top: 5px;
			font-size: 21px;
			height: 21px;
			width: 32px;
			text-align: center;
		}
	}	
}

/* paging */
@mixin paging($color) {
	border-top: 4px double $bodyBorderC;
	padding-top: 4px;
	text-align: right;
	.page-numbers {
		display: inline-block;
		padding: 4px 6px;		
		color: $color;
		&:hover {
			background: $color;
			color: #fff;
		}
	}
	.current {
		color: $bodyTextC;
		background: #f5f5f5;
	}
}

.pagination.audience-no_filter,
.pagination.audience-all {
	@include paging($bodyLinkC);
}

.pagination.audience-business {
	@include paging($greenBgC);
}

.pagination.audience-people {
	@include paging($blueBgC);
}

.pagination.audience-ngo {
	@include paging($orangeBgC);
}

.search .navigation-paging {
	margin-top: $divMargin;
}
