@mixin top-link {
	display:block;
	position:fixed;
	right: 10px;
	bottom: 14px;	
	border: 1px solid #cecece;	
	background: #eee;
	background: rgba(230, 230, 230, 0.9);
	padding: 4px 15px 5px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;	
	z-index: 900;	
	cursor: pointer;
	
	a,
	a:visited {
		color: #222222;
		font-size: 11px;
		line-height: 1.1;
		text-decoration: none;
        border: none !important;
		text-shadow: 1px 1px 1px #F2F2F2;
	}
	
	&:hover,
	&:active,
	&:focus {
		background: #d2d2d2;
		background: rgba(200, 200, 200, 0.9);
		border: 1px solid #c5c5c5;
	}
}

#top-link {
	@include top-link;
}

.no-js #top-link,
.ie6 #top-link { display: none !important; }

@mixin search-form {	
	border: 1px solid $bodyBorderC;
	position: relative;
	height: 32px; 

	.search-field {
		width: 100%;
		padding: 8px 28px 8px 6px;
		background: rgba(255,255,255, 0.9);
		border: none;
		&:focus {
			background: rgba(255,255,255, 0.98);
			-webkit-box-shadow: inset 1px 1px 3px 1px rgba(200, 200, 200, 0.5);
			box-shadow: inset  1px 1px 3px 1px rgba(200, 200, 200, 0.5);
		}
	}
	
	.submit-icon {		
		width: 29px;
		height: 30px;
		position: absolute;
		top: 0;
		right: 0;
		-webkit-transition: all 0.3s ;
		-moz-transition: all 0.3s ;
		-ms-transition: all 0.3s ;
		-o-transition: all 0.3s ;
		transition: all 0.3s ;
		color: $bodyBorderC;
		&:hover {
			color: $bodyLinkC;
		}
		.dashicons {
			//color: $bodyBorderC;
			position: absolute;
			top: 3px;
			left: 3px;
			z-index: 1;
			width: 24px;
			height: 24px;
			font-size: 24px;
		}
		
		input {
			position: absolute;
			background: transparent;
			top: 0;
			left: 0;
			z-index: 10;
			width: 100%;
			height: 100%;
			border: none;
			padding: 0;
			cursor: pointer;
		}
	}
} //end mixin

.searchform {
	@include search-form;	
}

.listing .search-holder {
	margin-bottom: $divMargin;
	
	.res-count {
		padding-top: 4px;
		padding-left: 1px;
		font-size: $smalestTextS;
	}
}

.search-item {
	@include p-margin;
	h4 {
		font-size: 18px;
		font-weight: normal;
	}
	cite {
		display: block;
		font-size: 11px;
		font-weight: normal;
		color: #999;
		margin-bottom: $pMargin /2 ;
	}
	
	.item-summary p {
		margin: 0;
	}
}


/**
 * Banners
 **/

@mixin logo-gallery($cols) {	
	margin: -5px;
	
	.logo {
		position: relative;
		float: left;
		padding: 5px;
		width: 100%/$cols;
		
		.logo-frame {
			position: relative;
			width: 100%;
			height: 0;
			padding-bottom: 63.636363%;
			a, span {
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				img {
					max-width: 100%;
					max-height: 100%;
					height: auto;
				}
			}
		}
	}
}

/** Return block **/
@mixin back-item($color) {
	@include smart-margin(14px);
	
	font-size: 12px;
	color: $metaTextC;
	a {
		color: $color;
		margin-left: 4px;
		&:hover {
			color: $bodyLinkHoverC;
		}
	}
	.label {
		display: inlie-block;
		background: $color;
		text-transform: uppercase;
		color: #fff;
		padding: 2px 6px;
		margin-right: 4px;
	}
}

nav.in-single {
	position: relative;
	width: 100%;
	min-height: 30px;
}

.return-block {
	margin-top: $pMargin/2;
	border: 1px solid $bodyBorderC;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	z-index: 100;
	background: #fff;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(220, 220, 220, 0.5);
			box-shadow:  1px 1px 3px 0px rgba(220, 220, 220, 0.5);
	
	.return-trigger {
		cursor: pointer;
		margin-top: -1px;
		position: relative;
		
		.label {
			background: $bodyLinkC;
			color: #fff;
			font-size: 12px;
			text-transform: uppercase;
			display: inline-block;
			padding: 4px 15px;
			margin-left: 12px;
			@include transition-all(0.3s);
		}		
		.arrow {
			display: block;
			width: 0;
			height: 0;
			border: 6px solid transparent;
			border-top-color: #C6C6C6;
			position: absolute;
			top: 10px;
			right: 10px;
		}
		&:hover {
			.label {
				background: #333;
			}
			.arrow  {
				border-top-color: #333;
			}
		}
	}
	
	.return-content {
		padding: 20px 12px 15px;
		
		display: none;
	}
	
	li.people {		
		@include back-item($blueBgC);
	}	
	li.business {
		@include back-item($greenBgC);
	}
	li.ngo {
		@include back-item($orangeBgC);
	}
	li.all {
		@include back-item($bodyLinkC);
	}
}

.toggled {
	.return-trigger {
		.arrow  {
			border-top-color: transparent;
			border-bottom-color: #C6C6C6;
			top: 2px;
		}
		&:hover {
			.arrow  {
				border-top-color: transparent;
				border-bottom-color: #aaa;
			}
		}
	}
	
	
}


/** not found message **/
@mixin not-found-section {
	
	background: #f9f9f9;
	border: 1px solid #eee;
	padding: 15px 20px;
	
	h2 {
		font-size: 24px;
		margin-bottom: 5px;
	}
	
	.section-content {
		//color: $metaTextC;
	}
}

.no-results {
	@include not-found-section;
}



/**
 * Symple fixes - to-do
 **/
.symple-heading {
	padding-bottom: 8px;
}

.symple-accordion .symple-accordion-trigger,
.symple-toggle .symple-toggle-trigger {
	padding: {
		top: 10px !important;
		bottom: 10px !important;
	}
}



/**
 * Intext elements - to-do
 **/
@mixin blockquote {
	padding: 18px 24px;
	background: #f9f9f9;
	
	em:last-child{
		display: inline-block;
		margin-top: $pMargin/2;
		font-weight: bold;
		font-style: italic;
		&:before {
			content: '— ';
		}
	}
}

.in-page,
.entry-content {
	
	ul {
		list-style-type: disc;
		@include p-margin;
		list-style-type-position: outside;
		margin-left: 2em;
	}
	
	ol {
		list-style-type: decimal;
		@include p-margin;
		margin-left: 2em;
		list-style-type-position: outside;
	}
	
	li {
		@include smart-margin($pMargin/2);
		
	}
	
	blockquote {
		font-style: normal;
		@include blockquote;
	}
	
	blockquote.plain {
		font-style: italic;
		background: transparent;
		padding: 0;
		color: #666;
	}
	blockquote.blue {
		background: $bodyLinkC;
		color: #fff;
	}
	
	h3 {
		@include widget-title(18px);
		margin: $pMargin 0;
		&:first-child {
			margin-top: 0;
		}
	}
	
	h4 {
		font-weight: bold;
		font-size: 1.15em;
		margin: $pMargin 0;
		&:first-child {
			margin-top: 0;
		}
	}
	
	h5 {
		font-size: 1em;
		font-weight: bold;
		margin-bottom: $pMargin;
	}
}

.intro-text {
	font-size: 1.2em;
	@include p-margin;
}


.tst-question {
	@include smart-margin(15px);
	font-weight: bold;
}

.tst-question + p{
	margin-top: 15px;
}