/**
 * Project design
 **/

/* Colors */

/* general */
$bodyTextC: #444;
$bodyBgC: #fff;
$bodyLinkC: #1679CA;
$bodyLinkHoverC: #0f5996;
$bodyBorderC: #dfdfdf;

$metaTextC: #999;
$linkedTitleC: #212121;
$widgetBgC: #F0F0F0;

$blueBgC: #00BFFF;
$greenBgC: #A3D900;
$orangeBgC: #FF8000;

/* Fonts */
$bodyFont: "Helvetica Neue", Helvetica, Arial, sans-serif;
$customFont: 'Tenor Sans', sans-serif;

$bodyTextS: 16px;
$smallerTextS: 13px;
$smalestTextS: 11px;
$widgetTitleS: 16px;
$metaTextS: 14px;

/* Misc */
$pMargin: 30px;
$divMargin: 40px;



@mixin p-margin {
	margin:{
		top: $pMargin;
		bottom: $pMargin;
	}
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

@mixin smart-margin($margin) {
	margin:{
		top: $margin;
		bottom: $margin;
	}
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

@mixin linked-title($size){
	font-size: $size;
	line-height: 1.35;
	a {
		color: $linkedTitleC;
		&:hover {
			color: $bodyLinkC;
		}
	}
}

@mixin widget-title($size) {
	font: {
		family: $customFont;
		size: $size;
		weight: normal;
	}
	line-height: 1.1;	
	text-transform: uppercase;
	color: $linkedTitleC;
}

@mixin loop-marker($color){
	.dashicons {
		font-size: 54px;
		color: $color;
	}
}
	
@mixin button($font_size, $color, $colorH){
	display: inline-block;
	font-size: $font_size;
	color: #fff;
	padding: 0.5em 1em;
	color: #fff;
	background: $color;
	&:hover {
		background: $colorH;
	}
}