/**
 * Reset and some utility mixins for not to be mixed with presets
 **/


@mixin transition-all($time) {
	-webkit-transition: all $time;
	-moz-transition: all $time;
	-ms-transition: all $time;
	-o-transition: all $time;
	transition: all $time;
}
	
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin clearfix {	
	&:before,
	&:after {
		content: " "; 
		display: table;
	}	
	&:after {
		clear: both;
	}
}

@mixin hidden { //Hide for both screenreaders and browsers
	display: none;
	visibility: hidden; }

@mixin visuallyhidden { //Hide only visually, but have it available for screenreaders
	position : absolute;
	clip : rect(0 0 0 0); 
	overflow : hidden;
	margin: -1px;
	padding : 0;
	height : 1px;      
	width : 1px;
	border : 0; }

@mixin image-replace {
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	text-decoration: none;
}



/** Normalization **/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block; }

audio,
canvas,
video {
	display: inline-block;
	*display: inline;
	*zoom: 1; }

[hidden] {
	display: none; } /* always support hidden attr */

* {
	margin: 0;
	padding: 0; }
	

html { //  normalisation for font size and position on page
	font-size: 100%; 
	overflow-y: scroll; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%;
	background: #fff; }

img {
	border: 0; 
	-ms-interpolation-mode: bicubic;
	vertical-align: bottom;
	max-width: 100%;
	height: auto; }

svg:not(:root) {
	overflow: hidden; }

figure {
	margin: 0; }


/** Helpers **/


/* text alignment */
.text-left   {
	text-align: left; }

.text-right  {
	text-align: right; }

.text-center {
	text-align: left; }


/* utilities */
.clear {
	clear: both; }
	
.cf {
	@include clearfix; }

.ir {
	@include image-replace; }

.hidden {
	@include hidden; } 

.visuallyhidden {
	@include visuallyhidden; }

.invisible { //Hide visually and from screenreaders, but maintain layout
	visibility: hidden; }


/* WP default classes */
.aligncenter {
	display:block;
	margin: 0 auto; }

.alignleft,
.align-left  {
	float:left;
	margin: 0 $pMargin $pMargin 0; }

.alignright,
.align-right {
	float:right;
	margin: 0 0 $pMargin $pMargin; }
	
	
/* selections */
a:link {
	-webkit-tap-highlight-color: #e0edd2;
	-webkit-tap-highlight-color : rgb(223, 236, 209); } /*  highloght color for Safari iOS */

::-webkit-selection { 
	background : rgb(23,119,175); 
	color : rgb(250,250,250); 
	text-shadow : none; }

::-moz-selection { 
	background : rgb(23,119,175); 
	color : rgb(250,250,250); 
	text-shadow : none; }

::selection { 
	background : rgb(23,119,175); 
	color : rgb(250,250,250); 
	text-shadow : none; }



/** Semantics **/

$highlightC: #e5f3fc;
$monoFont: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace, serif;
$codeColor: #666;
$smallFontS: 12px;

ins,
mark {
	background-color: $highlightC;
	color: #111;
	text-decoration:none; }

del {
	text-decoration: line-through; }

abbr[title],
dfn[title]{
	color: #1f1f1f;
	border-bottom: 1px dotted;
	cursor:help; }

b,
cite,
strong {
	font-weight: bold; }

i,
q,
em,
cite,
blockquote {
	font-style: italic; }

pre,
code,
kbd,
samp {
	font-family: $monoFont;
	font-size: 1em; }

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
	color: $codeColor; }

q,
blockquote {
	quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none; }

small {
	font-size: $smallFontS; }

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline; }

sup {
	top: -0.5em; }

sub {
	bottom: -0.25em; }

pre,
blockquote {
	@include smart-margin($pMargin);
}

blockquote p {
	@include smart-margin($pMargin/2);
}

/* lists & tables */
ul,
ol {
	list-style-type: none;
	list-style-image: none;
	margin: 0;
	padding: 0; }

li {
	margin: 0;
	padding: 0; }

table {
	border-collapse: collapse;
	border-spacing: 0; }

td,
td img {
	vertical-align: top; }