/* modules */
@import 'grid';
@import 'presets';
@import 'utility';
@import 'modules';

	

/**
 * Common elements
 **/
body {
	position: relative;
	font: {
		weight: normal;
		size: $bodyTextS;
		family: $bodyFont; }
		
	line-height: 1.4;
	
	background: {
		color: $bodyBgC; }
		
	color: $bodyTextC;
}
	
p {
	@include p-margin;	
} 

a {
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	outline: none;
	
	color: $bodyLinkC;
	text-decoration: none;
	&:visited {
		color: $bodyLinkC; 	}
	&:hover {
		color: $bodyLinkHoverC; }
} //a

h1, h2, h3, h4 {
	line-height: 1.2;
	font-weight: normal;
}


.inner {
	position: relative; }

/* layout */
.site {
	width: 978px;
	margin: 0 auto;
}

.site-branding {
	h1 {
		width: 364px;
		height: 88px;
		background: transparent url(../img/logo.png) no-repeat 0 0;	
	}
	
	a {
		color: transparent;
		text-decoration: none;
		display: block;
		width: 100%;
		height: 100%;
		outline: none;
	}
	
	padding-bottom: $divMargin;
}

.site-utility {
	width: 364px;
	padding: 15px 0;
	
	#site-region {
		float: left;
		width: 41%;
		
		label {
			display: block;
			border: 1px solid $bodyBorderC;
			width: 100%;
			overflow: hidden;
			padding: 1px 0 0px;
			-webkit-box-shadow: 1px 1px 3px 0px rgba(220, 220, 220, 0.5);
			box-shadow:  1px 1px 3px 0px rgba(220, 220, 220, 0.5);
			position: relative;
			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 6px;
				top: 11px;
				width: 0;
				height: 0;
				border: 7px solid transparent;
				border-top-color: $bodyLinkC;
			}
		}
		
		select {
			background: transparent;
			font-family: $bodyFont;
			font-size: 11px;
			line-height: 1;
			text-transform: uppercase;
			color: $bodyTextC;
			border: 0;
			border-radius: 0;
			-webkit-appearance: none;
			width: 170px;
			padding-left: 23px;
		}
		
		option {
			padding: 4px 0 4px 23px;
			outline: none;
		}
	}
	
	.searchform {
		float: left;
		width: 57%;
		margin-left: 2%;
	}
}

.site-header {
	.header-block {
		padding: 15px 0;
		color: $metaTextC;
		font-family: $customFont;
		font-size: 15px;		
	}
}


/** menu panels **/
@import 'menu';


/** pages elements **/
.page-title {
	font-family: $customFont;
	font-size: $bodyTextS *2.25;
	color: $bodyTextC;
	margin-bottom: 0.36em;
}


/** footer **/
#colophon {
	font-size: $smalestTextS;
	color: $metaTextC;
	padding-top: $divMargin;
	padding-bottom: 100px;
	
	.inner {
		border-top: 1px solid $bodyBorderC;
		padding-top: 4px;
	}
	a {
		color: $bodyTextC;
		&:hover {
			border-bottom: 1px dotted;
		}
	}
}


/** loop **/
.loop-item {
	margin-bottom: $divMargin;
	
	.entry-header {
		margin-bottom: $pMargin;
	}
}

.entry-title {
	@include linked-title(21px);
}

.entry-meta {
	color: $metaTextC;
	font-size: $metaTextS;
	margin-top: 0.2em;
	
	.entry-date {
		color: $bodyLinkC;
	}
	.sep {
		padding: 0 4px;
		color: $bodyBorderC;
	}
	.category {		
		text-transform: uppercase;
	}
}

.post-fields {	
	dt {
		text-transform: uppercase;
	}
	dd {
		margin: 2px 0 8px;
		color: #333;
	}
	
	dd.date {
		margin-bottom: 12px;
		time {
			display: inline-block;
			background:  $bodyLinkC;
			padding: 2px 8px;
			color: #fff;
			@include border-radius(3px);
		}
	}
}

.post-fields.proshed {
	dd.date {
		time {
			background:  $bodyBorderC;
		}
	}
}

/* vacancies */
.loop-item.vacancy {
	
	@include loop-marker($bodyBorderC);
	
	.vc-metas {
		margin: 0.5em 0 $pMargin;
		
		font-size: $metaTextS;
		color: $metaTextC;
		
		.org {
			text-transform: uppercase;
		}
		
		.wage {
			color: $bodyLinkC;
		}
		.pubdate {
			color: #666;
		}
	}
}

.loop-item.vacancy.open {
	@include loop-marker($bodyLinkC);	
}


/* partners */
.type-companies.loop-item {
	margin-bottom: $pMargin;
	
	&:nth-of-type(4n+1) {
		clear: left;
	}
}
	
.logo-wrap {
	width: 100%;
	margin-bottom: 10px;
	.logo-frame {
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: 63%;
	}
	span,
	a {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		border: 1px solid $bodyBorderC;
		text-align: center;
		line-height: 105px;
		img {			
			max-width: 99%;
			max-height: 99%;
			vertical-align: middle;
			width: auto;
		}
	}
}


.partner-title {
	@include linked-title(14px);
	span {
		color: $metaTextC;
		font-size: $smallerTextS;
		font-style: italic;
		display: block;
		padding-top: 4px;
	}
}

/* methods */
.loop-item.type-method {
	@include loop-marker($bodyLinkC);	
}



/** single **/
.single-title {
	font-family: $customFont;
	font-size: $bodyTextS *2;
	color: $bodyTextC;
	margin-bottom: 1em;
}

/* related */
.entry-related {
	.widget-title {
		@include widget-title($widgetTitleS);
		margin-bottom: 12px;		
	}
	margin-top: $divMargin;
}
.tst-r-gallery-item {
	.item-preview {
		margin-bottom: 12px;
		a {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	.item-title {
		@include linked-title($bodyTextS);
		font-weight: 500;
		line-height: 1.2;
	}
}

.fake-thumbnail {
	background: $widgetBgC;
	@include loop-marker($metaTextC);
	width: 100%;
	height: 0;
	padding-bottom: 63%;
	position: relative;
	.dashicons {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -25px 0 0 -25px;
	}
	&:hover {
		background: #f9f9f9;
		.dashicons {
			color: $bodyLinkHoverC;
		}
	}
}

.fake-thumbnail.open {
	@include loop-marker($bodyLinkC);
	&:hover {
		background: #f9f9f9;
		.dashicons {
			color: $bodyLinkHoverC;
		}
	}
}

/* utility*/
.entry-utility {
	margin: $divMargin 0;
}



/* s.vacancy */
.vc-status {
	@include loop-marker($bodyBorderC);
	border: 1px solid $bodyBorderC;
	font-size: $smallerTextS;
	color: $metaTextC;
	position: relative;
	padding: 10px 10px 10px 75px;		
	
	.status {
		font-family: $customFont;
		font-size: $bodyTextS;
		color: $bodyTextC;
		margin-bottom: 2px;
		text-transform: uppercase;
	}
	.dashicons {
		position: absolute;
		top: 6px;
		left: 6px;
	}
}

.open .vc-status {
	@include loop-marker($bodyLinkC);
	.status {
		color: $bodyLinkC;
	}
}

.vc-metas,
.vc-actions {
	margin: $divMargin 0;
}

.vc-metas {
	.vc-meta-field {
		.vc-meta-title {
			font-size: $bodyTextS;
			margin-bottom: 2px;
		}
		.vc-meta-value {
			color: $bodyLinkC;
		}
		@include smart-margin($pMargin*0.8);
	}	
}

.vc-actions .widget {
	@include smart-margin($divMargin);
	
	.widget-title {
		@include widget-title($widgetTitleS);
		margin-bottom: 12px;
	}
	.textwidget {
		background: $widgetBgC;
		padding: 12px;
	}
}

.vc-reply b {
	font-size: $bodyTextS*2;
	padding-bottom: 4px;
	display: inline-block;
	color: $bodyLinkC;
	font-weight: normal;
}


.vc-offer .button {
	@include button(14px, $bodyLinkC, $bodyLinkHoverC);
	margin-top: 4px;
	@include border-radius(3px);
}

.vc-company {
	min-height: 43px;
	background: $widgetBgC;
	padding: 10px 20px;
	@include smart-margin($divMargin);
	.org {
		font-weight: bold;
	}
}

.vc-data {
	@include smart-margin($pMargin);
	.vc-meta-field {
		@include smart-margin($pMargin);
		.vc-meta-title {
			@include widget-title($widgetTitleS);
			margin-bottom: 12px;			
		}
	}
	
	.vacan_maintenance,
	.vacan_maintenance_fund {
		.vc-meta-value {
			border: 1px solid $bodyBorderC;
			padding: 10px;
		}
	}
}

/* s.news, s.story */
.single-item {
	
	.entry-preview {
		@include smart-margin(18px);
	}
	.entry-summary {
		@include smart-margin(18px);
		font-size: $smallerTextS;
		
	}
	.entry-meta {
		@include smart-margin(18px);
	}
	
	.entry-media {
		@include smart-margin($pMargin);
	}
}

/* s.partner */
.single-item {
	.logo-wrap {
		span {
			line-height: 180px;
		}
	}
	
	.company-activity {
		margin-bottom: 2px;
	}
}



/* Team */
.team-list {
	.banner-full{
		margin: {
			top: $pMargin;
			bottom: $pMargin;
		}
		&:first-child {
			margin-top: 0;
		}
		
		h4 {
			font-weight: bold;
			margin-bottom: 10px;
		}
		
		.details em {
			color: $bodyLinkC;
		}
		
		.contacts {
			margin-top: 30px;
			font-size: 14px;
			color: #666;
		}
	}
	
}

/** homepage **/
@import 'home';


/* search widget */
.widget_la_recent {
	
	font-size: $smallerTextS;
	color: 14px;
	
	h3 {
		@include widget-title($widgetTitleS);
		margin-bottom: 1em;
	}
	
	.la-rpw-item {
		@include smart-margin(15px);
		@include clearfix;
		
		.la-rpw-title {
			margin-bottom: 5px;
		}
		
		.la-rpw-metadata {
			font-size: 12px;
		}
	}
	
	.has-thumb {
		.la-rpw-preview {
			float: left;
			width: 100px;
		}
		
		.la-rpw-metadata,
		.la-rpw-title {
			margin-left: 115px;
		}
	}
}


/** 404 **/

.not-found-404 {
	margin-top: $divMargin;
	min-height: 300px;
}

.err-mark {
	display: inline;
	vertical-align: text-top;
	font-size: 140px;
	font-weight: bold;
	line-height: 120px;
	color: $bodyLinkC;
} 
