@charset "UTF-8";
/* modules */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* commons */
[class*='bit-'] {
  float: left;
  padding: 0 15px; }

.frame {
  margin: 0 -15px; }

.frame:after {
  content: "";
  display: table;
  clear: both; }

/* base column - 1/12 */
.bit-1 {
  width: 8.3333333333%; }

/* combinations of 1/12 columns */
.bit-2 {
  width: 16.666666%; }

/* means 2/12 */
.bit-3 {
  width: 25%; }

/* means 3/12 */
.bit-4 {
  width: 33.333333%; }

/* means 4/12 */
.bit-5 {
  width: 41.666666%; }

/* means 5/12 */
.bit-6 {
  width: 50%; }

/* means 6/12 */
.bit-7 {
  width: 58.333333%; }

/* means 7/12 */
.bit-8 {
  width: 66.666666%; }

/* means 8/12 */
.bit-9 {
  width: 75%; }

/* means 9/12 */
.bit-10 {
  width: 83.333333%; }

/* means 10/12 */
.bit-11 {
  width: 91.666666%; }

/* means 11/12 */
.bit-12 {
  width: 100%; }

/* means 11/12 */
/**
 * Project design
 **/
/* Colors */
/* general */
/* Fonts */
/* Misc */
/**
 * Reset and some utility mixins for not to be mixed with presets
 **/
/** Normalization **/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

[hidden] {
  display: none; }

/* always support hidden attr */
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: #fff; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: bottom;
  max-width: 100%;
  height: auto; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

/** Helpers **/
/* text alignment */
.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: left; }

/* utilities */
.clear {
  clear: both; }

.cf:before, .cf:after {
  content: " ";
  display: table; }
.cf:after {
  clear: both; }

.ir {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  text-decoration: none; }

.hidden {
  display: none;
  visibility: hidden; }

.visuallyhidden {
  position: absolute;
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  border: 0; }

.invisible {
  visibility: hidden; }

/* WP default classes */
.aligncenter {
  display: block;
  margin: 0 auto; }

.alignleft,
.align-left {
  float: left;
  margin: 0 30px 30px 0; }

.alignright,
.align-right {
  float: right;
  margin: 0 0 30px 30px; }

/* selections */
a:link {
  -webkit-tap-highlight-color: #e0edd2;
  -webkit-tap-highlight-color: #dfecd1; }

/*  highloght color for Safari iOS */
::-webkit-selection {
  background: #1777af;
  color: #fafafa;
  text-shadow: none; }

::-moz-selection {
  background: #1777af;
  color: #fafafa;
  text-shadow: none; }

::selection {
  background: #1777af;
  color: #fafafa;
  text-shadow: none; }

/** Semantics **/
ins,
mark {
  background-color: #e5f3fc;
  color: #111;
  text-decoration: none; }

del {
  text-decoration: line-through; }

abbr[title],
dfn[title] {
  color: #1f1f1f;
  border-bottom: 1px dotted;
  cursor: help; }

b,
cite,
strong {
  font-weight: bold; }

i,
q,
em,
cite,
blockquote {
  font-style: italic; }

pre,
code,
kbd,
samp {
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #666666; }

q,
blockquote {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 12px; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre,
blockquote {
  margin-top: 30px;
  margin-bottom: 30px; }
  pre:first-child,
  blockquote:first-child {
    margin-top: 0; }
  pre:last-child,
  blockquote:last-child {
    margin-bottom: 0; }

blockquote p {
  margin-top: 15px;
  margin-bottom: 15px; }
  blockquote p:first-child {
    margin-top: 0; }
  blockquote p:last-child {
    margin-bottom: 0; }

/* lists & tables */
ul,
ol {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

li {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
td img {
  vertical-align: top; }

#top-link {
  display: block;
  position: fixed;
  right: 10px;
  bottom: 14px;
  border: 1px solid #cecece;
  background: #eee;
  background: rgba(230, 230, 230, 0.9);
  padding: 4px 15px 5px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  z-index: 900;
  cursor: pointer; }
  #top-link a,
  #top-link a:visited {
    color: #222222;
    font-size: 11px;
    line-height: 1.1;
    text-decoration: none;
    border: none !important;
    text-shadow: 1px 1px 1px #F2F2F2; }
  #top-link:hover, #top-link:active, #top-link:focus {
    background: #d2d2d2;
    background: rgba(200, 200, 200, 0.9);
    border: 1px solid #c5c5c5; }

.no-js #top-link,
.ie6 #top-link {
  display: none !important; }

.searchform {
  border: 1px solid #dfdfdf;
  position: relative;
  height: 32px; }
  .searchform .search-field {
    width: 100%;
    padding: 8px 28px 8px 6px;
    background: rgba(255, 255, 255, 0.9);
    border: none; }
    .searchform .search-field:focus {
      background: rgba(255, 255, 255, 0.98);
      -webkit-box-shadow: inset 1px 1px 3px 1px rgba(200, 200, 200, 0.5);
      box-shadow: inset 1px 1px 3px 1px rgba(200, 200, 200, 0.5); }
  .searchform .submit-icon {
    width: 29px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: #dfdfdf; }
    .searchform .submit-icon:hover {
      color: #1679ca; }
    .searchform .submit-icon .dashicons {
      position: absolute;
      top: 3px;
      left: 3px;
      z-index: 1;
      width: 24px;
      height: 24px;
      font-size: 24px; }
    .searchform .submit-icon input {
      position: absolute;
      background: transparent;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      height: 100%;
      border: none;
      padding: 0;
      cursor: pointer; }

.listing .search-holder {
  margin-bottom: 40px; }
  .listing .search-holder .res-count {
    padding-top: 4px;
    padding-left: 1px;
    font-size: 11px; }

.search-item {
  margin-top: 30px;
  margin-bottom: 30px; }
  .search-item:first-child {
    margin-top: 0; }
  .search-item:last-child {
    margin-bottom: 0; }
  .search-item h4 {
    font-size: 18px;
    font-weight: normal; }
  .search-item cite {
    display: block;
    font-size: 11px;
    font-weight: normal;
    color: #999;
    margin-bottom: 15px; }
  .search-item .item-summary p {
    margin: 0; }

/**
 * Banners
 **/
/** Return block **/
nav.in-single {
  position: relative;
  width: 100%;
  min-height: 30px; }

.return-block {
  margin-top: 15px;
  border: 1px solid #dfdfdf;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 100;
  background: #fff;
  -webkit-box-shadow: 1px 1px 3px 0px rgba(220, 220, 220, 0.5);
  box-shadow: 1px 1px 3px 0px rgba(220, 220, 220, 0.5); }
  .return-block .return-trigger {
    cursor: pointer;
    margin-top: -1px;
    position: relative; }
    .return-block .return-trigger .label {
      background: #1679ca;
      color: #fff;
      font-size: 12px;
      text-transform: uppercase;
      display: inline-block;
      padding: 4px 15px;
      margin-left: 12px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    .return-block .return-trigger .arrow {
      display: block;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-top-color: #C6C6C6;
      position: absolute;
      top: 10px;
      right: 10px; }
    .return-block .return-trigger:hover .label {
      background: #333; }
    .return-block .return-trigger:hover .arrow {
      border-top-color: #333; }
  .return-block .return-content {
    padding: 20px 12px 15px;
    display: none; }
  .return-block li.people {
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 12px;
    color: #999999; }
    .return-block li.people:first-child {
      margin-top: 0; }
    .return-block li.people:last-child {
      margin-bottom: 0; }
    .return-block li.people a {
      color: deepskyblue;
      margin-left: 4px; }
      .return-block li.people a:hover {
        color: #0f5996; }
    .return-block li.people .label {
      display: inlie-block;
      background: deepskyblue;
      text-transform: uppercase;
      color: #fff;
      padding: 2px 6px;
      margin-right: 4px; }
  .return-block li.business {
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 12px;
    color: #999999; }
    .return-block li.business:first-child {
      margin-top: 0; }
    .return-block li.business:last-child {
      margin-bottom: 0; }
    .return-block li.business a {
      color: #a3d900;
      margin-left: 4px; }
      .return-block li.business a:hover {
        color: #0f5996; }
    .return-block li.business .label {
      display: inlie-block;
      background: #a3d900;
      text-transform: uppercase;
      color: #fff;
      padding: 2px 6px;
      margin-right: 4px; }
  .return-block li.ngo {
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 12px;
    color: #999999; }
    .return-block li.ngo:first-child {
      margin-top: 0; }
    .return-block li.ngo:last-child {
      margin-bottom: 0; }
    .return-block li.ngo a {
      color: #ff8000;
      margin-left: 4px; }
      .return-block li.ngo a:hover {
        color: #0f5996; }
    .return-block li.ngo .label {
      display: inlie-block;
      background: #ff8000;
      text-transform: uppercase;
      color: #fff;
      padding: 2px 6px;
      margin-right: 4px; }
  .return-block li.all {
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 12px;
    color: #999999; }
    .return-block li.all:first-child {
      margin-top: 0; }
    .return-block li.all:last-child {
      margin-bottom: 0; }
    .return-block li.all a {
      color: #1679ca;
      margin-left: 4px; }
      .return-block li.all a:hover {
        color: #0f5996; }
    .return-block li.all .label {
      display: inlie-block;
      background: #1679ca;
      text-transform: uppercase;
      color: #fff;
      padding: 2px 6px;
      margin-right: 4px; }

.toggled .return-trigger .arrow {
  border-top-color: transparent;
  border-bottom-color: #C6C6C6;
  top: 2px; }
.toggled .return-trigger:hover .arrow {
  border-top-color: transparent;
  border-bottom-color: #aaa; }

/** not found message **/
.no-results {
  background: #f9f9f9;
  border: 1px solid #eee;
  padding: 15px 20px; }
  .no-results h2 {
    font-size: 24px;
    margin-bottom: 5px; }

/**
 * Symple fixes - to-do
 **/
.symple-heading {
  padding-bottom: 8px; }

.symple-accordion .symple-accordion-trigger,
.symple-toggle .symple-toggle-trigger {
  padding-top: 10px !important;
  padding-bottom: 10px !important; }

/**
 * Intext elements - to-do
 **/
.in-page ul,
.entry-content ul {
  list-style-type: disc;
  margin-top: 30px;
  margin-bottom: 30px;
  list-style-type-position: outside;
  margin-left: 2em; }
  .in-page ul:first-child,
  .entry-content ul:first-child {
    margin-top: 0; }
  .in-page ul:last-child,
  .entry-content ul:last-child {
    margin-bottom: 0; }
.in-page ol,
.entry-content ol {
  list-style-type: decimal;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 2em;
  list-style-type-position: outside; }
  .in-page ol:first-child,
  .entry-content ol:first-child {
    margin-top: 0; }
  .in-page ol:last-child,
  .entry-content ol:last-child {
    margin-bottom: 0; }
.in-page li,
.entry-content li {
  margin-top: 15px;
  margin-bottom: 15px; }
  .in-page li:first-child,
  .entry-content li:first-child {
    margin-top: 0; }
  .in-page li:last-child,
  .entry-content li:last-child {
    margin-bottom: 0; }
.in-page blockquote,
.entry-content blockquote {
  font-style: normal;
  padding: 18px 24px;
  background: #f9f9f9; }
  .in-page blockquote em:last-child,
  .entry-content blockquote em:last-child {
    display: inline-block;
    margin-top: 15px;
    font-weight: bold;
    font-style: italic; }
    .in-page blockquote em:last-child:before,
    .entry-content blockquote em:last-child:before {
      content: '— '; }
.in-page blockquote.plain,
.entry-content blockquote.plain {
  font-style: italic;
  background: transparent;
  padding: 0;
  color: #666; }
.in-page blockquote.blue,
.entry-content blockquote.blue {
  background: #1679ca;
  color: #fff; }
.in-page h3,
.entry-content h3 {
  font-family: "Tenor Sans", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.1;
  text-transform: uppercase;
  color: #212121;
  margin: 30px 0; }
  .in-page h3:first-child,
  .entry-content h3:first-child {
    margin-top: 0; }
.in-page h4,
.entry-content h4 {
  font-weight: bold;
  font-size: 1.15em;
  margin: 30px 0; }
  .in-page h4:first-child,
  .entry-content h4:first-child {
    margin-top: 0; }
.in-page h5,
.entry-content h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 30px; }

.intro-text {
  font-size: 1.2em;
  margin-top: 30px;
  margin-bottom: 30px; }
  .intro-text:first-child {
    margin-top: 0; }
  .intro-text:last-child {
    margin-bottom: 0; }

.tst-question {
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: bold; }
  .tst-question:first-child {
    margin-top: 0; }
  .tst-question:last-child {
    margin-bottom: 0; }

.tst-question + p {
  margin-top: 15px; }

/**
 * Common elements
 **/
body {
  position: relative;
  font-weight: normal;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  background-color: white;
  color: #444444; }

p {
  margin-top: 30px;
  margin-bottom: 30px; }
  p:first-child {
    margin-top: 0; }
  p:last-child {
    margin-bottom: 0; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  outline: none;
  color: #1679ca;
  text-decoration: none; }
  a:visited {
    color: #1679ca; }
  a:hover {
    color: #0f5996; }

h1, h2, h3, h4 {
  line-height: 1.2;
  font-weight: normal; }

.inner {
  position: relative; }

/* layout */
.site {
  width: 978px;
  margin: 0 auto; }

.site-branding {
  padding-bottom: 40px; }
  .site-branding h1 {
    width: 364px;
    height: 88px;
    background: transparent url(../img/logo.png) no-repeat 0 0; }
  .site-branding a {
    color: transparent;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    outline: none; }

.site-utility {
  width: 364px;
  padding: 15px 0; }
  .site-utility #site-region {
    float: left;
    width: 41%; }
    .site-utility #site-region label {
      display: block;
      border: 1px solid #dfdfdf;
      width: 100%;
      overflow: hidden;
      padding: 1px 0 0px;
      -webkit-box-shadow: 1px 1px 3px 0px rgba(220, 220, 220, 0.5);
      box-shadow: 1px 1px 3px 0px rgba(220, 220, 220, 0.5);
      position: relative; }
      .site-utility #site-region label:before {
        content: '';
        display: block;
        position: absolute;
        left: 6px;
        top: 11px;
        width: 0;
        height: 0;
        border: 7px solid transparent;
        border-top-color: #1679ca; }
    .site-utility #site-region select {
      background: transparent;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 11px;
      line-height: 1;
      text-transform: uppercase;
      color: #444444;
      border: 0;
      border-radius: 0;
      -webkit-appearance: none;
      width: 170px;
      padding-left: 23px; }
    .site-utility #site-region option {
      padding: 4px 0 4px 23px;
      outline: none; }
  .site-utility .searchform {
    float: left;
    width: 57%;
    margin-left: 2%; }

.site-header .header-block {
  padding: 15px 0;
  color: #999999;
  font-family: "Tenor Sans", sans-serif;
  font-size: 15px; }

/** menu panels **/
/* menu elements */
/* About panel */
#side-navigation {
  background: #1679ca;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  color: #fff;
  z-index: 900; }
  #side-navigation .inner {
    padding-top: 15px; }
  #side-navigation #side-panel-trigger {
    background: #1679ca;
    color: #fff;
    width: 30px;
    position: absolute;
    top: 15px;
    left: -30px; }
    #side-navigation #side-panel-trigger span {
      display: inline-block;
      line-height: 24px;
      height: 24px;
      width: 26px;
      margin: 4px 0 4px 4px;
      text-align: center;
      cursor: pointer; }
      #side-navigation #side-panel-trigger span:hover {
        background: rgba(255, 255, 255, 0.75);
        color: #1679ca; }
    #side-navigation #side-panel-trigger .close {
      display: none; }
  #side-navigation .pmenu {
    padding: 0 30px; }
  #side-navigation .menu-item-has-children > a {
    text-transform: uppercase;
    line-height: 30px;
    font-size: 14px;
    display: inline-block;
    width: 85px;
    cursor: default;
    color: #fff; }
  #side-navigation .sub-menu {
    display: none;
    padding-top: 30px;
    width: 180px; }
    #side-navigation .sub-menu li {
      margin: 7px 0;
      text-transform: none; }
    #side-navigation .sub-menu a {
      color: #fff; }
      #side-navigation .sub-menu a:hover {
        border-bottom: 1px dotted; }

#side-navigation.wide .sub-menu {
  display: block; }
#side-navigation.wide #side-panel-trigger .open {
  display: none; }
#side-navigation.wide #side-panel-trigger .close {
  display: inline-block; }

@media all and (max-width: 1280px) {
  #side-navigation .menu-item-has-children > a {
    display: none; }

  #side-navigation.wide .menu-item-has-children > a {
    display: block; } }
.admin-bar #side-navigation {
  padding-top: 32px; }

/* inpage side menu */
#audience-menu.audience-all .menu-item-has-children > a {
  display: block;
  border: 1px solid #dfdfdf;
  border-top: 4px solid #1679ca;
  padding: 7px 0 7px 0px;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  color: #1679ca;
  margin-bottom: 4px;
  cursor: default; }
#audience-menu.audience-all .sub-menu {
  background: #1679ca;
  padding: 13px 0 20px 20px;
  min-height: 345px; }
  #audience-menu.audience-all .sub-menu li {
    margin: 7px 0;
    text-transform: none; }
  #audience-menu.audience-all .sub-menu a {
    color: #fff; }
    #audience-menu.audience-all .sub-menu a:hover {
      border-bottom: 1px dotted; }
  #audience-menu.audience-all .sub-menu li[class*="current-menu"] a {
    border-bottom: 1px solid; }

#audience-menu.audience-business .menu-item-has-children > a {
  display: block;
  border: 1px solid #dfdfdf;
  border-top: 4px solid #a3d900;
  padding: 7px 0 7px 0px;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  color: #a3d900;
  margin-bottom: 4px;
  cursor: default; }
#audience-menu.audience-business .sub-menu {
  background: #a3d900;
  padding: 13px 0 20px 20px;
  min-height: 345px; }
  #audience-menu.audience-business .sub-menu li {
    margin: 7px 0;
    text-transform: none; }
  #audience-menu.audience-business .sub-menu a {
    color: #fff; }
    #audience-menu.audience-business .sub-menu a:hover {
      border-bottom: 1px dotted; }
  #audience-menu.audience-business .sub-menu li[class*="current-menu"] a {
    border-bottom: 1px solid; }

#audience-menu.audience-people .menu-item-has-children > a {
  display: block;
  border: 1px solid #dfdfdf;
  border-top: 4px solid deepskyblue;
  padding: 7px 0 7px 0px;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  color: deepskyblue;
  margin-bottom: 4px;
  cursor: default; }
#audience-menu.audience-people .sub-menu {
  background: deepskyblue;
  padding: 13px 0 20px 20px;
  min-height: 345px; }
  #audience-menu.audience-people .sub-menu li {
    margin: 7px 0;
    text-transform: none; }
  #audience-menu.audience-people .sub-menu a {
    color: #fff; }
    #audience-menu.audience-people .sub-menu a:hover {
      border-bottom: 1px dotted; }
  #audience-menu.audience-people .sub-menu li[class*="current-menu"] a {
    border-bottom: 1px solid; }

#audience-menu.audience-ngo .menu-item-has-children > a {
  display: block;
  border: 1px solid #dfdfdf;
  border-top: 4px solid #ff8000;
  padding: 7px 0 7px 0px;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  color: #ff8000;
  margin-bottom: 4px;
  cursor: default; }
#audience-menu.audience-ngo .sub-menu {
  background: #ff8000;
  padding: 13px 0 20px 20px;
  min-height: 345px; }
  #audience-menu.audience-ngo .sub-menu li {
    margin: 7px 0;
    text-transform: none; }
  #audience-menu.audience-ngo .sub-menu a {
    color: #fff; }
    #audience-menu.audience-ngo .sub-menu a:hover {
      border-bottom: 1px dotted; }
  #audience-menu.audience-ngo .sub-menu li[class*="current-menu"] a {
    border-bottom: 1px solid; }

/* inpage nav */
.page-nav {
  border-top: 1px solid #dfdfdf;
  border-bottom: 4px double #dfdfdf;
  margin-bottom: 40px;
  min-height: 7px; }

.inpage-menu {
  width: auto;
  float: right; }
  .inpage-menu li {
    float: left;
    margin-right: 7px;
    padding-top: 5px; }
  .inpage-menu a {
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    padding: 8px;
    margin-bottom: -4px; }
  .inpage-menu li[class*="current-menu"] a {
    background: #1679ca;
    color: #fff; }

/* bottom menu */
#global-menu {
  border: 1px solid #dfdfdf;
  border-bottom: none;
  background: #fff;
  padding-top: 13px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 3px 1px rgba(200, 200, 200, 0.7);
  box-shadow: 1px 1px 3px 1px rgba(200, 200, 200, 0.7); }
  #global-menu .menu-item-has-children.audience-people .sub-menu {
    margin-top: 4px;
    background: deepskyblue;
    padding: 20px;
    height: 300px; }
    #global-menu .menu-item-has-children.audience-people .sub-menu li {
      margin: 7px 0;
      text-transform: none; }
    #global-menu .menu-item-has-children.audience-people .sub-menu a {
      color: #fff; }
      #global-menu .menu-item-has-children.audience-people .sub-menu a:hover {
        border-bottom: 1px dotted; }
  #global-menu .menu-item-has-children.audience-people > a {
    display: block;
    background: deepskyblue;
    padding: 5px 20px;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold; }
    #global-menu .menu-item-has-children.audience-people > a span {
      display: block;
      padding-top: 3px;
      font-size: 13px;
      text-transform: lowercase;
      font-weight: normal; }
  #global-menu .menu-item-has-children.audience-business .sub-menu {
    margin-top: 4px;
    background: #a3d900;
    padding: 20px;
    height: 300px; }
    #global-menu .menu-item-has-children.audience-business .sub-menu li {
      margin: 7px 0;
      text-transform: none; }
    #global-menu .menu-item-has-children.audience-business .sub-menu a {
      color: #fff; }
      #global-menu .menu-item-has-children.audience-business .sub-menu a:hover {
        border-bottom: 1px dotted; }
  #global-menu .menu-item-has-children.audience-business > a {
    display: block;
    background: #a3d900;
    padding: 5px 20px;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold; }
    #global-menu .menu-item-has-children.audience-business > a span {
      display: block;
      padding-top: 3px;
      font-size: 13px;
      text-transform: lowercase;
      font-weight: normal; }
  #global-menu .menu-item-has-children.audience-ngo .sub-menu {
    margin-top: 4px;
    background: #ff8000;
    padding: 20px;
    height: 300px; }
    #global-menu .menu-item-has-children.audience-ngo .sub-menu li {
      margin: 7px 0;
      text-transform: none; }
    #global-menu .menu-item-has-children.audience-ngo .sub-menu a {
      color: #fff; }
      #global-menu .menu-item-has-children.audience-ngo .sub-menu a:hover {
        border-bottom: 1px dotted; }
  #global-menu .menu-item-has-children.audience-ngo > a {
    display: block;
    background: #ff8000;
    padding: 5px 20px;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold; }
    #global-menu .menu-item-has-children.audience-ngo > a span {
      display: block;
      padding-top: 3px;
      font-size: 13px;
      text-transform: lowercase;
      font-weight: normal; }

#bottom-navigation {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: -300px;
  z-index: 950; }
  #bottom-navigation .close {
    display: none; }

#bottom-navigation.wide .close {
  display: block;
  text-transfont: lowercase;
  font-size: 11px;
  border: 1px solid #dfdfdf;
  background: #dfdfdf;
  padding: 4px 12px;
  position: absolute;
  top: 22px;
  right: -63px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  cursor: pointer; }
  #bottom-navigation.wide .close:hover {
    background: #eee; }

/* social */
#social-menu li {
  float: right;
  margin-left: 5px; }
  #social-menu li a {
    display: block;
    width: 32px;
    height: 32px;
    color: #fff;
    background: #dfdfdf;
    border: none; }
    #social-menu li a:hover {
      border: none;
      background: #0f5996; }
  #social-menu li .dashicons {
    margin-top: 5px;
    font-size: 21px;
    height: 21px;
    width: 32px;
    text-align: center; }

/* paging */
.pagination.audience-no_filter,
.pagination.audience-all {
  border-top: 4px double #dfdfdf;
  padding-top: 4px;
  text-align: right; }
  .pagination.audience-no_filter .page-numbers,
  .pagination.audience-all .page-numbers {
    display: inline-block;
    padding: 4px 6px;
    color: #1679ca; }
    .pagination.audience-no_filter .page-numbers:hover,
    .pagination.audience-all .page-numbers:hover {
      background: #1679ca;
      color: #fff; }
  .pagination.audience-no_filter .current,
  .pagination.audience-all .current {
    color: #444444;
    background: #f5f5f5; }

.pagination.audience-business {
  border-top: 4px double #dfdfdf;
  padding-top: 4px;
  text-align: right; }
  .pagination.audience-business .page-numbers {
    display: inline-block;
    padding: 4px 6px;
    color: #a3d900; }
    .pagination.audience-business .page-numbers:hover {
      background: #a3d900;
      color: #fff; }
  .pagination.audience-business .current {
    color: #444444;
    background: #f5f5f5; }

.pagination.audience-people {
  border-top: 4px double #dfdfdf;
  padding-top: 4px;
  text-align: right; }
  .pagination.audience-people .page-numbers {
    display: inline-block;
    padding: 4px 6px;
    color: deepskyblue; }
    .pagination.audience-people .page-numbers:hover {
      background: deepskyblue;
      color: #fff; }
  .pagination.audience-people .current {
    color: #444444;
    background: #f5f5f5; }

.pagination.audience-ngo {
  border-top: 4px double #dfdfdf;
  padding-top: 4px;
  text-align: right; }
  .pagination.audience-ngo .page-numbers {
    display: inline-block;
    padding: 4px 6px;
    color: #ff8000; }
    .pagination.audience-ngo .page-numbers:hover {
      background: #ff8000;
      color: #fff; }
  .pagination.audience-ngo .current {
    color: #444444;
    background: #f5f5f5; }

.search .navigation-paging {
  margin-top: 40px; }

/** pages elements **/
.page-title {
  font-family: "Tenor Sans", sans-serif;
  font-size: 36px;
  color: #444444;
  margin-bottom: 0.36em; }

/** footer **/
#colophon {
  font-size: 11px;
  color: #999999;
  padding-top: 40px;
  padding-bottom: 100px; }
  #colophon .inner {
    border-top: 1px solid #dfdfdf;
    padding-top: 4px; }
  #colophon a {
    color: #444444; }
    #colophon a:hover {
      border-bottom: 1px dotted; }

/** loop **/
.loop-item {
  margin-bottom: 40px; }
  .loop-item .entry-header {
    margin-bottom: 30px; }

.entry-title {
  font-size: 21px;
  line-height: 1.35; }
  .entry-title a {
    color: #212121; }
    .entry-title a:hover {
      color: #1679ca; }

.entry-meta {
  color: #999999;
  font-size: 14px;
  margin-top: 0.2em; }
  .entry-meta .entry-date {
    color: #1679ca; }
  .entry-meta .sep {
    padding: 0 4px;
    color: #dfdfdf; }
  .entry-meta .category {
    text-transform: uppercase; }

.post-fields dt {
  text-transform: uppercase; }
.post-fields dd {
  margin: 2px 0 8px;
  color: #333; }
.post-fields dd.date {
  margin-bottom: 12px; }
  .post-fields dd.date time {
    display: inline-block;
    background: #1679ca;
    padding: 2px 8px;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }

.post-fields.proshed dd.date time {
  background: #dfdfdf; }

/* vacancies */
.loop-item.vacancy .dashicons {
  font-size: 54px;
  color: #dfdfdf; }
.loop-item.vacancy .vc-metas {
  margin: 0.5em 0 30px;
  font-size: 14px;
  color: #999999; }
  .loop-item.vacancy .vc-metas .org {
    text-transform: uppercase; }
  .loop-item.vacancy .vc-metas .wage {
    color: #1679ca; }
  .loop-item.vacancy .vc-metas .pubdate {
    color: #666; }

.loop-item.vacancy.open .dashicons {
  font-size: 54px;
  color: #1679ca; }

/* partners */
.type-companies.loop-item {
  margin-bottom: 30px; }
  .type-companies.loop-item:nth-of-type(4n+1) {
    clear: left; }

.logo-wrap {
  width: 100%;
  margin-bottom: 10px; }
  .logo-wrap .logo-frame {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 63%; }
  .logo-wrap span,
  .logo-wrap a {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #dfdfdf;
    text-align: center;
    line-height: 105px; }
    .logo-wrap span img,
    .logo-wrap a img {
      max-width: 99%;
      max-height: 99%;
      vertical-align: middle;
      width: auto; }

.partner-title {
  font-size: 14px;
  line-height: 1.35; }
  .partner-title a {
    color: #212121; }
    .partner-title a:hover {
      color: #1679ca; }
  .partner-title span {
    color: #999999;
    font-size: 13px;
    font-style: italic;
    display: block;
    padding-top: 4px; }

/* methods */
.loop-item.type-method .dashicons {
  font-size: 54px;
  color: #1679ca; }

/** single **/
.single-title {
  font-family: "Tenor Sans", sans-serif;
  font-size: 32px;
  color: #444444;
  margin-bottom: 1em; }

/* related */
.entry-related {
  margin-top: 40px; }
  .entry-related .widget-title {
    font-family: "Tenor Sans", sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.1;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 12px; }

.tst-r-gallery-item .item-preview {
  margin-bottom: 12px; }
  .tst-r-gallery-item .item-preview a {
    display: block;
    width: 100%;
    height: 100%; }
.tst-r-gallery-item .item-title {
  font-size: 16px;
  line-height: 1.35;
  font-weight: 500;
  line-height: 1.2; }
  .tst-r-gallery-item .item-title a {
    color: #212121; }
    .tst-r-gallery-item .item-title a:hover {
      color: #1679ca; }

.fake-thumbnail {
  background: #f0f0f0;
  width: 100%;
  height: 0;
  padding-bottom: 63%;
  position: relative; }
  .fake-thumbnail .dashicons {
    font-size: 54px;
    color: #999999; }
  .fake-thumbnail .dashicons {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px; }
  .fake-thumbnail:hover {
    background: #f9f9f9; }
    .fake-thumbnail:hover .dashicons {
      color: #0f5996; }

.fake-thumbnail.open .dashicons {
  font-size: 54px;
  color: #1679ca; }
.fake-thumbnail.open:hover {
  background: #f9f9f9; }
  .fake-thumbnail.open:hover .dashicons {
    color: #0f5996; }

/* utility*/
.entry-utility {
  margin: 40px 0; }

/* s.vacancy */
.vc-status {
  border: 1px solid #dfdfdf;
  font-size: 13px;
  color: #999999;
  position: relative;
  padding: 10px 10px 10px 75px; }
  .vc-status .dashicons {
    font-size: 54px;
    color: #dfdfdf; }
  .vc-status .status {
    font-family: "Tenor Sans", sans-serif;
    font-size: 16px;
    color: #444444;
    margin-bottom: 2px;
    text-transform: uppercase; }
  .vc-status .dashicons {
    position: absolute;
    top: 6px;
    left: 6px; }

.open .vc-status .dashicons {
  font-size: 54px;
  color: #1679ca; }
.open .vc-status .status {
  color: #1679ca; }

.vc-metas,
.vc-actions {
  margin: 40px 0; }

.vc-metas .vc-meta-field {
  margin-top: 24px;
  margin-bottom: 24px; }
  .vc-metas .vc-meta-field .vc-meta-title {
    font-size: 16px;
    margin-bottom: 2px; }
  .vc-metas .vc-meta-field .vc-meta-value {
    color: #1679ca; }
  .vc-metas .vc-meta-field:first-child {
    margin-top: 0; }
  .vc-metas .vc-meta-field:last-child {
    margin-bottom: 0; }

.vc-actions .widget {
  margin-top: 40px;
  margin-bottom: 40px; }
  .vc-actions .widget:first-child {
    margin-top: 0; }
  .vc-actions .widget:last-child {
    margin-bottom: 0; }
  .vc-actions .widget .widget-title {
    font-family: "Tenor Sans", sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.1;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 12px; }
  .vc-actions .widget .textwidget {
    background: #f0f0f0;
    padding: 12px; }

.vc-reply b {
  font-size: 32px;
  padding-bottom: 4px;
  display: inline-block;
  color: #1679ca;
  font-weight: normal; }

.vc-offer .button {
  display: inline-block;
  font-size: 14px;
  color: #fff;
  padding: 0.5em 1em;
  color: #fff;
  background: #1679ca;
  margin-top: 4px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  .vc-offer .button:hover {
    background: #0f5996; }

.vc-company {
  min-height: 43px;
  background: #f0f0f0;
  padding: 10px 20px;
  margin-top: 40px;
  margin-bottom: 40px; }
  .vc-company:first-child {
    margin-top: 0; }
  .vc-company:last-child {
    margin-bottom: 0; }
  .vc-company .org {
    font-weight: bold; }

.vc-data {
  margin-top: 30px;
  margin-bottom: 30px; }
  .vc-data:first-child {
    margin-top: 0; }
  .vc-data:last-child {
    margin-bottom: 0; }
  .vc-data .vc-meta-field {
    margin-top: 30px;
    margin-bottom: 30px; }
    .vc-data .vc-meta-field:first-child {
      margin-top: 0; }
    .vc-data .vc-meta-field:last-child {
      margin-bottom: 0; }
    .vc-data .vc-meta-field .vc-meta-title {
      font-family: "Tenor Sans", sans-serif;
      font-size: 16px;
      font-weight: normal;
      line-height: 1.1;
      text-transform: uppercase;
      color: #212121;
      margin-bottom: 12px; }
  .vc-data .vacan_maintenance .vc-meta-value,
  .vc-data .vacan_maintenance_fund .vc-meta-value {
    border: 1px solid #dfdfdf;
    padding: 10px; }

/* s.news, s.story */
.single-item .entry-preview {
  margin-top: 18px;
  margin-bottom: 18px; }
  .single-item .entry-preview:first-child {
    margin-top: 0; }
  .single-item .entry-preview:last-child {
    margin-bottom: 0; }
.single-item .entry-summary {
  margin-top: 18px;
  margin-bottom: 18px;
  font-size: 13px; }
  .single-item .entry-summary:first-child {
    margin-top: 0; }
  .single-item .entry-summary:last-child {
    margin-bottom: 0; }
.single-item .entry-meta {
  margin-top: 18px;
  margin-bottom: 18px; }
  .single-item .entry-meta:first-child {
    margin-top: 0; }
  .single-item .entry-meta:last-child {
    margin-bottom: 0; }
.single-item .entry-media {
  margin-top: 30px;
  margin-bottom: 30px; }
  .single-item .entry-media:first-child {
    margin-top: 0; }
  .single-item .entry-media:last-child {
    margin-bottom: 0; }

/* s.partner */
.single-item .logo-wrap span {
  line-height: 180px; }
.single-item .company-activity {
  margin-bottom: 2px; }

/* Team */
.team-list .banner-full {
  margin-top: 30px;
  margin-bottom: 30px; }
  .team-list .banner-full:first-child {
    margin-top: 0; }
  .team-list .banner-full h4 {
    font-weight: bold;
    margin-bottom: 10px; }
  .team-list .banner-full .details em {
    color: #1679ca; }
  .team-list .banner-full .contacts {
    margin-top: 30px;
    font-size: 14px;
    color: #666; }

/** homepage **/
/* Homepage **/
.home-section {
  margin-top: 40px;
  margin-bottom: 40px; }
  .home-section:first-child {
    margin-top: 0; }
  .home-section:last-child {
    margin-bottom: 0; }

.home-widgets .widget-title {
  font-family: "Tenor Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.1;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 12px; }

.home-slider {
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 0; }
  .home-slider .inner {
    padding-bottom: 60px;
    position: relative;
    overflow: hidden; }

.home-callout {
  margin-top: 30px;
  margin-bottom: 60px; }
  .home-callout p {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #555; }
    .home-callout p:first-child {
      margin-top: 0; }
    .home-callout p:last-child {
      margin-bottom: 0; }
  .home-callout p:nth-of-type(1) strong {
    color: deepskyblue; }
  .home-callout p:nth-of-type(2) strong {
    color: #a3d900; }
  .home-callout p:nth-of-type(3) strong {
    color: #ff8000; }

.action-call {
  border: 1px solid #1679ca;
  color: #1679ca;
  text-align: center; }
  .action-call a {
    display: block; }
  .action-call .call-icon {
    margin: 15px 0;
    height: 55px; }
    .action-call .call-icon .dashicons {
      width: 54px;
      line-height: 54px;
      font-size: 54px; }
  .action-call .call-label {
    text-transform: uppercase;
    margin: 15px 0; }

.home-loop li {
  margin-top: 20px;
  margin-bottom: 20px; }
  .home-loop li:first-child {
    margin-top: 0; }
  .home-loop li:last-child {
    margin-bottom: 0; }
.home-loop h4 {
  font-size: 16px;
  line-height: 1.35; }
  .home-loop h4 a {
    color: #212121; }
    .home-loop h4 a:hover {
      color: #1679ca; }
.home-loop .hi-meta {
  font-size: 13px;
  color: #999999; }

.home-event .widget-title {
  color: #1679ca; }
.home-event .h-item {
  background: #1679ca;
  color: #fff;
  padding: 15px 23px; }
  .home-event .h-item a {
    color: #fff; }
.home-event .hi-meta {
  margin: 4px 0 24px;
  font-size: 13px; }
  .home-event .hi-meta time {
    display: inline-block;
    padding: 2px 6px;
    background: #fff;
    color: #1679ca; }
.home-event .hi-summary {
  font-size: 13px; }

.home-partners .h-slider {
  width: 100%;
  position: relative; }
.home-partners .h-slideshow {
  overflow: hidden;
  width: 222px;
  height: 300px; }
.home-partners .h-slide {
  float: left;
  width: 100%;
  width: 222px; }
.home-partners .logo-wrap {
  /*width: 220px;*/
  width: 100%; }
.home-partners .h-next,
.home-partners .h-prev {
  border: 6px solid transparent;
  border-left-color: #1679ca;
  width: 0;
  height: 0;
  position: absolute;
  right: 0;
  top: -20px; }
.home-partners .h-prev {
  border-left-color: transparent;
  border-right-color: #1679ca;
  right: 0;
  right: 18px;
  top: -20px; }

/** counter **/
.counter-wrap {
  position: absolute;
  width: 100%;
  height: 230px;
  left: 0;
  bottom: -20px;
  z-index: 590; }
  .counter-wrap .counters-list:before, .counter-wrap .counters-list:after {
    content: " ";
    display: table; }
  .counter-wrap .counters-list:after {
    clear: both; }
  .counter-wrap .counter {
    float: left;
    margin-left: 54px; }
  .counter-wrap .counter:nth-of-type(1) {
    background: rgba(255, 255, 255, 0.95);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 176px;
    height: 176px;
    margin-top: 52px; }
    .counter-wrap .counter:nth-of-type(1) ul {
      font-size: 18px;
      line-height: 1.1;
      text-align: center;
      color: deepskyblue; }
      .counter-wrap .counter:nth-of-type(1) ul li:first-child {
        font-size: 48px;
        padding-top: 30px; }
  .counter-wrap .counter:nth-of-type(2) {
    background: rgba(255, 255, 255, 0.95);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 176px;
    height: 176px; }
    .counter-wrap .counter:nth-of-type(2) ul {
      font-size: 18px;
      line-height: 1.1;
      text-align: center;
      color: #ff8000; }
      .counter-wrap .counter:nth-of-type(2) ul li:first-child {
        font-size: 48px;
        padding-top: 30px; }
  .counter-wrap .counter:nth-of-type(3) {
    background: rgba(255, 255, 255, 0.95);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 176px;
    height: 176px;
    margin-top: 52px; }
    .counter-wrap .counter:nth-of-type(3) ul {
      font-size: 18px;
      line-height: 1.1;
      text-align: center;
      color: #a3d900; }
      .counter-wrap .counter:nth-of-type(3) ul li:first-child {
        font-size: 48px;
        padding-top: 30px; }
  .counter-wrap .counter:nth-of-type(4) {
    background: rgba(255, 255, 255, 0.95);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 176px;
    height: 176px; }
    .counter-wrap .counter:nth-of-type(4) ul {
      font-size: 18px;
      line-height: 1.1;
      text-align: center;
      color: #1679ca; }
      .counter-wrap .counter:nth-of-type(4) ul li:first-child {
        font-size: 48px;
        padding-top: 30px; }

/* search widget */
.widget_la_recent {
  font-size: 13px;
  color: 14px; }
  .widget_la_recent h3 {
    font-family: "Tenor Sans", sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.1;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 1em; }
  .widget_la_recent .la-rpw-item {
    margin-top: 15px;
    margin-bottom: 15px; }
    .widget_la_recent .la-rpw-item:first-child {
      margin-top: 0; }
    .widget_la_recent .la-rpw-item:last-child {
      margin-bottom: 0; }
    .widget_la_recent .la-rpw-item:before, .widget_la_recent .la-rpw-item:after {
      content: " ";
      display: table; }
    .widget_la_recent .la-rpw-item:after {
      clear: both; }
    .widget_la_recent .la-rpw-item .la-rpw-title {
      margin-bottom: 5px; }
    .widget_la_recent .la-rpw-item .la-rpw-metadata {
      font-size: 12px; }
  .widget_la_recent .has-thumb .la-rpw-preview {
    float: left;
    width: 100px; }
  .widget_la_recent .has-thumb .la-rpw-metadata,
  .widget_la_recent .has-thumb .la-rpw-title {
    margin-left: 115px; }

/** 404 **/
.not-found-404 {
  margin-top: 40px;
  min-height: 300px; }

.err-mark {
  display: inline;
  vertical-align: text-top;
  font-size: 140px;
  font-weight: bold;
  line-height: 120px;
  color: #1679ca; }
